.notifs-container {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.notifs-container h2 {
  margin-bottom: 20px;
}

.notification {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.notification h3 {
  margin: 0;
  font-size: 1.2em;
}

.notification p {
  margin: 5px 0 0;
}
